.banner {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; 
  background-color: #eb8d00;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  display: inline-flex;
}




