.container {
  display:flex;
  flex-direction: column;
  margin-top: 2em;
  margin-bottom: 2em;



}

.img-user-username {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.username {
  margin-left: auto;
  visibility: hidden;
}

footer {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

.icons {
    margin-left: auto;
}


header {
  margin-top: 2em;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  background-color: white;
}

footer {
  border: solid;
  border-width: 5px;
  border-color: black;
  background-color: white;
}

.tweet-text {
  padding-top: 2em;
}



article {
  opacity: 0.6;

}

/* article:hover {
  opacity: 1;
} */


footer:hover {
  opacity: 1;
}

header:hover .username {
  visibility: visible;

}

article:hover {
  opacity: 1;
}